{
 :source-dir  "dev/catchphrase/styles"
 :var         catchphrase.styles.main/screen
 :output-file "resources/public/css/catchphrase.css"
 :flags       {:pretty-print? true
               :vendors       ["webkit" "moz" "o"]}
 }
